header {
  background-image: url(pictures/background);
}

h1 {
 font-size: 600;
 right: 100px;
}

h2{

}

h3{

}

body {
  text-align: center;
}

main div {
  background-color: lightgray;
}

footer {
  background-color: black;
  color: white;
}

.thumbnail {
  width: 200px;
}

.profile-picture {
  width: 33%;
}
