@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Cardo:wght@700&family=Domine&family=Noto+Serif+JP:wght@200;400&display=swap');


header {
  background-image: url(pictures/background.jpg);
}

h1 {
  font-family: 'Cardo', serif;
 font-size: 1000;
 right: 100px;
}

h2{
font-family: 'Domine', serif;
}

h3{
font-family: 'Archivo', sans-serif;
}

p {
  font-family: 'Noto Serif JP', serif;
}

body {
  text-align: center;
  background-color: lightgray
}

footer {
  background-color: black;
  color: white;
}

.group {
  /*display: flex;
  flex-direction: row;*/
}

.fl {
  a:link: white;
  a:visited: blue;
  a:hover: green;
}

.thumbnail {
  width: 200px;
}

.profile-picture {
  width: 33%;
}
